/*:root {
	--menu-width: 250px;
	--menu-widthNEG: -250px;
	--menucouleur: #2196F3; 
	--menucouleur: #29A9E6;
	--menucouleurDark: #0079b3;#4a4a4a
	--menucouleurSplash: #4A4A4A;
	--menucouleurSel: #0999DF;
	--backcouleur: #F5F5F5;
	--boutonRouge: #DD381D;
	--boutonVert: #7EB530;
	--boutonVertHover: #94C500;
	--blockcouleur: #fff;
	--textOnColor:#fff;
	--successBack:#DEF0A5;
	--successText:#769C00;	
	--failureBack:#FFD4CC;
	--failureText:#DD381D;
	--neutralBack:#F5F5F5;
	--neutralText:#555;
	--yellowBack:#FFF6E6;
	--yellowText:#FFB300;
	--blocksize:1100px;
	--grayUnit:#EFEFEF;
	--progressBarXP:#FFCC35;
	--progressBarLife:#DA5353;
	}*/
	@font-face{
		font-family: : "Entypo";
		src:url('../fonts/Entypo.otf') format('otf'); 
		font-weight: normal;
		font-style: normal;
	}
	@font-face{font-family:'dig';src:url('../fonts/digi.ttf');}
	@font-face{font-family:'abu';src:url('../fonts/abu.ttf');}
	@font-face{font-family:'ost';src:url('../fonts/BebasNeue.ttf');}
	@font-face{font-family:'boy';src:url('../fonts/BOYCOTT_.ttf');}
	@font-face{font-family:'gross';src:url('../fonts/DJGROSS.ttf');}
	@font-face{font-family:'qwi';src:url('../fonts/Qwigley-Regular.ttf');}
	@font-face{font-family:'osr';src:url('../fonts/mus.woff');}
	@font-face{font-family:'kc';src:url('../fonts/Kingthings Clarity1.1.ttf');}
	@font-face{font-family:'droidMono';src:url('../fonts/DroidSansMono.ttf');}
	@font-face{font-family:'mt';src:url('../fonts/MonospaceTypewriter.ttf');}
	@font-face{font-family:'OS';src:url('../fonts/OpenSans-Regular.ttf');}
	.qwiTitle
	{
		font-family:qwi;
		font-size:50px;
		top:0px;
		position:relative;   
		font-weight: normal;
		text-shadow:0 3px 8px rgba(0,0,0,0.5);
	}
	.bebTitle
	{
		font-family:ost;
		font-size:35px;    
		font-weight: normal;
		text-shadow:0 3px 8px rgba(0,0,0,0.2);
	}
	.boyTitle
	{
		font-family:boy;
		font-size:30px;    
		font-weight: normal;
		text-shadow:0 3px 8px rgba(0,0,0,0.2);
	}
	.qwiTitleMini
	{
		font-family: qwi;
		font-size: 2.3em;
		top: -5px;
		position: relative;
		font-weight: normal;
	}
	.bebTitleMini
	{
		font-family: ost;
		font-size: 1.5em;
		font-weight: normal;
	}
	.boyTitleMini
	{
		font-family:boy;
		font-size:30px;    
		font-weight: normal;
	}

	.mobileOnly{
		display: none;
	}

	/*----------------------------------*/
	/*       BASE                       */
	/*----------------------------------*/
	html, body{
		font-family: OS, sans-serif;
		font-size:16px;
		line-height:1.4;
		height:100%;
		margin:0;
		padding:0;
		background-color:#F5F5F5;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);


	}

	input{
		font-family: OS, sans-serif;
		margin-bottom:10px;
		font-size:12px;
	}

	a{
		text-decoration:none;
		color:inherit;
	}

	.site-content{
		padding-top:66px;	
	}

	.drill-group hr{
		width: 70%;
		height: 1px;
		background-color: #F5F5F5;
		border: 0px;
		margin-top: 50px;
		margin-bottom: 50px;
		/*border-radius: 10px;*/
	}

	.title{
		color:gray;
		/*margin-left: 55px;*/
		font-family: 'Roboto', Helvetica, Arial;
		font-weight: 300;
		font-size: 14px;
		text-transform: uppercase;
	}


	hr{
		width: 100%;
		height: 1px;
		background-color: #EAEAE9;
		border: 0px;	
		border-radius: 10px;
		/*margin-top: 20px;*/
		margin-bottom: 14px;

		position: relative;
		left: -15px;
		width: calc(100% + 30px);
	}

	/*----------------------------------*/
	/*       HEADER                     */
	/*----------------------------------*/	
	.header{

		position:fixed;
		left:0;
		right:0;
		height:66px;
		line-height:66px;
		color:#fff;
		background-color:#29A9E6;
		/*box-shadow: 0px 4px 15px rgba(0,0,0,0.2);*/
		box-shadow: 0px 2px 9px rgba(0,0,0,0.1);
		white-space: nowrap;
		z-index: 995;
	}

	.headerSplash{

		position:fixed;
		left:0;
		right:0;
		height:66px;
		line-height:66px;
		color:#fff;	
		background-color:#4A4A4A;
		background-color:#272b34;
		white-space: nowrap;
		z-index: 995;
	}

	.header-container{
		width:1100px;
		margin:auto;
		padding-left:40px;
	}

	.header__logo{
		font-weight:bold;
		padding: 0 25px;
		float:left;
	}

	.floating-character{
		z-index: 224;
		position: absolute;
		top: 70px;
		left: 4px;
	}

	.result-character{	
		min-width: 280px;
		margin: auto;
	}

	.result-ok
	{
		/*		background:#DEF0A5;*/
		background: #00e676;
		padding: 10px 15px 10px 15px;
		/*border-radius: 15px;*/
	}

	.result-ko
	{
		/*background: #FFD4CC;*/
		background: #f44336;
		padding: 10px 15px 10px 15px;
		/*border-radius: 15px;*/
	}
	.result-neutral
	{
		/*background: #F5F5F5;
		color: #555;*/
		padding: 10px 15px 10px 15px;
		/*border-radius: 15px;*/
	}

	.unit-finished
	{
		text-align: left;
		/*padding-left: 80px;*/
	}

	.calendar-img
	{
		width:70px;
		top:10px;
		position:relative;
	}

	.logout-img
	{
		width: 35px;
		top: 13px;
		position: relative;
	}

	@media only screen and (min-width: 750px)
	{
		.floating-character{

			display:none;
		}
	}

	.credentials{
		display:none;
		cursor:pointer;
	}

	.user-icon{
		height: 20px;
		top: 5px;
		position: relative;

	}

	h3
	{
		display:inline;
		margin-bottom: 50px;
	}
	h4
	{
		display:inline;
	}


	/*----------------------------------*/
	/*       MENU                       */
	/*----------------------------------*/	
	.menu{
	}

	.menu a{	
		padding: 7px 12px 7px 12px;
		position: relative;
	}

	.menu a:hover{	
		background-color:#0999DF;
		height:66px;
		padding-bottom: 22px;
		padding-top: 22px;		
	}

	.menu a:hover .circleNotifNumber{			
		top: 19px;		
		border-color:#0999DF;;
	}

	/* padding-top: 22px; */

	.menu-right{
		position: absolute;
		display: inline;
		float: right;
		right:50px;
	}

	.menuText{
		display:none;
	}

	.heightBuffer
	{
		height:66px;
	}

	/*----------------------------------*/
	/*       CONTAINER                  */
	/*----------------------------------*/

	.container{
	}

	.content-container{
		margin:auto;
		/*width:1100px;*/
		padding-top:40px;
		max-width: 1100px;

	}

	.block-container{
		margin-left: 40px;
		margin-right: 40px;
	}

	.main-block, .side-block, .unique-block
	{
		background-color:#fff;
		box-shadow: 0px 2px 7px rgba(0,0,0,0.07);
		position:relative;		/*-webkit-border-radius: 10px;*/
		/*-moz-border-radius: 10px;*/
		/*border-radius: 10px;*/
	}

	.main-block
	{

	}

	.yellowUnit
	{
		background-color:#fff;
		box-shadow: 0px 4px 15px rgba(0,0,0,0.07);
		/*-webkit-border-radius: 10px;*/
		/*-moz-border-radius: 10px;*/
		/*border-radius: 10px;*/
		display:inline-block;
		padding:20px;

		color: #FFB300;
		background-color: #FFF6E6;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.grayUnit
	{
		background-color: #EFEFEF;
	}


	.main-block{	
		display:inline-block;
		/*width:69%;	*/
		width: calc(100% - 320px);
		margin-bottom:25px;
	}

	.unique-block{	
		display: block;
		/* width: 69%; */
		width: 650px;
		/* margin-bottom: 25px; */
		margin: auto;
		margin-bottom: 45px;
	}

	.side-blocks{

/*	AVANT MISE A DROITE
width:25%;
	max-width: 280px;
	min-width: 280px;
	display:inline-block;
	vertical-align:top;	
	margin-left:30px;*/


	/*width: 30%;*/
	width: 280px;
	max-width: 280px;
	/*min-width: 280px;*/
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
	/* right: 0px; */
	float: right;
}

.side-block{
	width:100%;
	margin-bottom:30px;
}

.block-content{
	padding:15px;
	position:relative;
}

.splash{
	width: 100%;
	background: #29A9E6;
	position:relative;
	/*padding-top: 66px;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4A4A4A+0,0d63af+100&0.7+0,0.7+100 */
	background: -moz-linear-gradient(top,  rgba(40,40,68,0.7) 0%, rgba(74,74,74,0.7) 100%), url(../images/headerr-opt.jpg) center; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(40,40,68,0.7) 0%,rgba(74,74,74,0.7) 100%), url(../images/headerr-opt.jpg) center; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(40,40,68,0.7) 0%,rgba(74,74,74,0.7) 100%), url(../images/headerr-opt.jpg) center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b34A4A4A', endColorstr='#b30d63af',GradientType=0 ); /* IE6-9 */

	background-size: cover;

	/*height:calc(100vh - 66px);*/
	min-height: 642px;
}


/*----------------------------------*/
/*       CADRE PERSONNAGE           */
/*----------------------------------*/

.container-frame{
	position:relative;
	text-align: center;
}

.character-frame{
	border: solid 1px #000;
	height:230px;	
}

.level-number{
	position: absolute;
	right: -15px;
	top: -5px;
	font-family: 'Roboto', Helvetica, Arial;
	font-size: 70px;
	font-weight: 100;
	/* text-shadow: 0px 0px 8px rgba(255,255,255,1); */
	/* bottom: 15px; */
	
	/*text-shadow:0px 0px 8px rgba(255,255,255,1);*/
	

	/*bottom: 60px;CSSPERSO*/
	/*bottom: 15px;*/

}
.niv{
	position: absolute;
	right: -12px;
	top: -3px;
	font-family: 'Roboto', Helvetica, Arial;
	font-size: 10px;
	font-weight: 100;
	text-transform: uppercase;

}
.money-number{
	position: absolute;
	bottom: -10px;
	left: 8px;
	font-weight: 100;
	font-family: 'Roboto', Helvetica, Arial;
	font-size: 30px;
}
.life-number{
	position: absolute;
	bottom: 36px;
	right: 79px;
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 300;
	font-size: 11px;
}


.xp-number{
	position: absolute;
	bottom: 61px;
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 300;
	font-size: 11px;
	right: 79px;
}

.character-image{
	position: absolute;
	top: 0;	
	height: 100%;
	width: 100%;
	left:0;
	/*border: solid 1px #555;*/
}





.XPBarCharacter, .LifeBarCharacter{  
	-webkit-appearance: none;
	width:90%;
	position: relative;	
	/*border: solid 1px #fff;*/
	/*box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);*/

}
.XPBarCharacter::-webkit-progress-bar { 
	/*background-color: #093064;*/
	background-color: rgba(0,0,0,0.1);
}
.XPBarCharacter::-webkit-progress-value { 
	background-color:#FFCC35;
	/*background-color:#FFCC35;*/
}  

.XPBarCharacter::-moz-progress-bar{
	background-color:#FFCC35;
} 

.LifeBarCharacter::-webkit-progress-bar { 
	background-color: #093064;
}
.LifeBarCharacter::-webkit-progress-value { 
	background-color:#DA5353;
}  
.LifeBarCharacter::-moz-progress-bar { 
	background-color:#DA5353;
}


.MaitriseBar, .ConnaissanceBar {  
	-webkit-appearance: none;
	width:100%;
	height:15px;
	position: relative;	
	/*border: solid 1px #fff;*/
	/*box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);*/
	top:-3px;

}
.MaitriseBar::-webkit-progress-bar { 
	background-color: #F5F5F5;

}
.MaitriseBar::-webkit-progress-value { 
	/*background-color: #1b5e20;*/
	background-color: darkgreen;
}  
.MaitriseBar::-moz-progress-bar { 
	background-color: darkgreen;
}

.ConnaissanceBar::-webkit-progress-bar { 
	background-color: #F5F5F5;
}
.ConnaissanceBar::-webkit-progress-value { 
	/*background-color: #66bb6a;*/
	background-color: lightgreen;
}  
.ConnaissanceBar::-moz-progress-bar { 
	background-color: lightgreen;
}

#xpBar {
	height: 16px;
	/*border-radius: 4px;*/
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
	transition: 0.4s linear;
	transition-property: width, background-color;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}



/*conteneur qui sera absolu par rapport à son parent container-frame*/
.progress-container{
	position: absolute;
	bottom: 40px;
	width: 65%;
}

/*nom du perso en haut du cadre du personnage*/
.character-name{
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 300;
	font-size: 18px;
	padding-top: 7px;
	padding-bottom: 7px;
	word-wrap: break-word;
}

.character-name-small{
	font-size: 14px;
	line-height: 13px;
}



.heartImg{
	width: 22px;
	top: 5px;
	position: relative;
}

.heartImgBar{
	width: 10px;
	position: absolute;
	/*opacity: 0.5;*/
	padding-right: 7px;
	bottom: 40px;
	left: 5px;
}

.starImgBar{
	width: 12px;
	bottom: 64px;
	left: 4px;
}
.moneyBar{
	width: 15px;
	/* top: 5px; */
	position: relative;
	padding-right: 7px;
}

.menu .container-frame{
	display:none;
}


.credentialSelected{	
	/*background-color:rgba(0,0,0,0.1);*/
	background-color:#0999DF;
}


/*----------------------------------*/
/*  DASHBOARD                       */
/*----------------------------------*/
.drill-image, .drill-speed
{	
	position: absolute;

	top: 0;	
	height: 80px;
	width: 80px;
	left:0;

	cursor: pointer;

	padding-right:40px;
	padding-left:40px;
	padding-top:20px;
	padding-bottom:20px;

}

.sign-name
{
	font-size: 30px;
	top: 45px;
	color:black;
	position: absolute;
	/* top: 0; */
	height: 80px;
	/*color:white;*/
	width: 80px;
	left: 15px;
	cursor: pointer;
	padding-right: 40px;
	padding-left: 40px;
	/*text-shadow:0 2px 2px rgba(0,0,0,0.5);*/
}

.sign-name1
{
	left: 19px;
	font-size: 20px;
}

.sign-name2
{
	font-size: 20px;
	top: 63px;
	left: 15px;
}

.drill-speed
{
	width: 90px;
	top:-17px;
	left:-5px;
}
.drill-neck
{
	width: 36px;
	height: 36px;
	top: -17px;
	left: -5px;

	top: 20px;
	left: 13px;
}

.drill-neckCenter
{
	width: 45px;
	height: 45px;

	top: 17px;
	left: 17px;
}
.drill-neckDouble
{
	width: 24px;
	height: 48px;
	top: 15px;
	left: 21px;
}

.drill-name
{
	/* top: 75px; */
	position: absolute;
	top: 105px;
	/* height: 80px; */
	width: 80px;
	left: 0;
	cursor: pointer;
	padding-right: 40px;
	padding-left: 40px;
	font-size: 9pt;
	font-weight: bold;
}


.drill-frame{
	position:relative;
	padding-right:40px;
	padding-left:40px;
	padding-top:20px;
	padding-bottom:20px;
	height: 80px;
	width: 80px;
	display: inline-block;
}


.day-unit{
	position:relative;
	/*text-align: center;*/
}

.drill-group
{
	text-align: center;

}

.stats{
	font-size: 16px;
	font-weight: bold;
	color: #FFB300;
	line-height: 2em;
	/* background-color: #FFF6E6; */
	/* text-align: center; */
	/* border-radius: 8px; */
	margin-top: 5px;
	/* font-family: 'Roboto'; */
	/* font-weight: 500; */
	display: inline-block;
}



.statUnit{

	font-size: 16px;
	color: lightgray;
	padding-right: 15px;
}

.other{
	color: #999;
	/* text-transform: uppercase; */
	/* background-color: #FFF6E6; */
	width: 35%;
	/* border-radius: 5px; */
	/* padding: 3px 25px 3px 25px; */
	font-size: 14px;
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 300;
}

.circleBlue {
	border-radius: 50%;
	width: 30px;
	height: 30px; 
	background:#29A9E6;
	display: inline-block;
	position: absolute;
	/* width and height can be anything, as long as they're equal */
}

.checkGreen {
	top: 0px;
	display: inline-block;
	position: absolute;
	
	margin: 0 auto;
	left: 0;
	/*visibility: hidden;*/
	z-index:-10;
	right: 0;
	/* width and height can be anything, as long as they're equal */
}

.circleGray {
	border-radius: 50%;
	width: 30px;
	height: 30px; 
	background:white;
	display: inline-block;
	margin: 0px 10px 0px 10px;
	position: relative;
	top:8px;
	/* width and height can be anything, as long as they're equal */
}

.circleLost
{
	background:#DD381D;

}

.circleGlobal
{
	border-radius: 20px 20px 20px 20px;
	width: 160px;
	height: 46px;
	background: #efefef;
	display: inline-block;
	top: -10px;
}

.circleContainer {
	position: relative;
	width: 30px;height: 30px; 
	display: inline-block;
	/*background:green;*/
	margin-right: 10px;
	margin-left: 10px;

	top:1px;
	/* width and height can be anything, as long as they're equal */
}

.full
{
	width:100%;
	text-align: center;
	position: relative;
	top: -15px;	
}


.titleSide
{

	font-size: 9pt;
	font-weight: 300;
	color: gray;
	font-family: 'Roboto', Helvetica, Arial;
}


.circleImg
{
	width: 22px;
	top: 4px;
	left: 4px;
	position: relative;
}

.instrumentImg
{
	width: 32px;
	top: 2px;
	left: 4px;
	position: relative;
	padding-right: 20px;
}

.selectInstrument
{
	display: inline;
	position: relative;
	top: -8px;
}

.colorgray{
	color:gray;
}

#startCard .colorgray{
	color:#fff;
}

#BPMInput{

	width: 150px;
	border: 0px solid orange;
	background-color: rgba(0,0,0,0);
	font-size: 42pt;
	text-align: center;
	color: white;
	font-weight: 300;
	margin-top: 10px;
	font-family: 'Roboto', Helvetica, Arial;
}
/*----------------------------------*/
/*       SOCIAL                     */
/*----------------------------------*/

.social{
	display:inline-block;
	width:55px;
	height:55px;
	fill: red;
}

.fb{
	padding-right: 20px;
	background:url("../images/facebook.svg") 0 0 no-repeat;
}

.tw{
	background:url("../images/twitter.svg") 0 0 no-repeat;
}

.social-block{
	text-align: center;
}

/*----------------------------------*/
/*       FENETRE MODALE             */
/*----------------------------------*/

.modal-frame, .modal-frame-wizard{
	position: fixed; /* Stay in place */
	z-index: 223; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #F5F5F5; /* Fallback color */

	text-align: center;
	padding-top: 106px;

	display:none;
}

.isVisible{
	display:block;
}

.isVisibleInline{
	display:inline-block;
}

.isInvisible{
	display:none !important;
}

/*----------------------------------*/
/*       CANVAS FRETBOARD           */
/*----------------------------------*/

.fretboardAndDots{position:relative;top:5px;}
#dotsCanvas, #dotsCanvasDynamic{z-index:222;position:absolute;left:0px;top:0px;border:dashed 0px #0f0;}
#overCanvas{z-index:-1;position:absolute;left:0px;top:0px;border:dashed 0px #000;background-color:#EFEFEF;text-align:center;vertical-align:center;filter:alpha(opacity=50);opacity:0.9;}
.fretboardSpan{}
#fretboardCanvas{z-index:1;position:absolute;left:0px;top:0px;border:dotted 0px #f00;}
#mon_canvas{border:dashed 0px #00f;background-color:#EFEFEF;text-align:center;vertical-align:center;filter:alpha(opacity=50);z-index:10;opacity:0.7;}


/*----------------------------------*/
/*       PARTITION                  */
/*----------------------------------*/

#sheetMusic{
	margin-bottom: -35px;
	height: 140px;
	width: 150px;
	/* border: solid 3px lightgray; */
	/* border-bottom: solid 0px rgba(41,169,230,0); */
	/* border: solid 3px #29A9E6; */
	background-color: #fff;
	/* box-shadow: 0px 4px 15px rgba(41,169,230,0.4); */
	/* -webkit-border-radius: 10px; */
	/* -moz-border-radius: 10px; */
	/* border-radius: 10px; */
	padding-left: 8px;
	position: relative;
	top: -15px;
	margin: auto;
	/* display: inline; */
}

#sheetMusicCanvas
{
/*	border: solid 3px lightgray;

	background-color:#fff;
	box-shadow: 0px 4px 15px rgba(41,169,230,0.4);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 20px;*/
}

.sheetTitle{display:none;}

.description
{
	/*display:inline;*/
}

#waveform
{
	position: absolute;
	margin-left: -80px;
	margin-top: 3px;
	width: 159px;
	height: 180px;
}

/*----------------------------------*/
/*       NOTIFICATIONS              */
/*----------------------------------*/
.notifications{

	position: fixed;
	bottom: 15px;
	left: 15px;


	width: 60%;
	max-width: 350px;

	/*background-color: #DEF0A5;*/
	z-index: 5000;
	color: #779C01;
	/*box-shadow: 0px 4px 15px rgba(0,0,0,0.3);*/
}

.notification{
	cursor: pointer;
	/*border-bottom: 1px solid #769C00;*/
	/*box-shadow: 0px 1px 0px #FFF;*/
	position: relative;

	/*-webkit-border-radius: 10px;*/
	/*-moz-border-radius: 10px;*/
	/*border-radius: 10px;*/

	box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
	margin-bottom: 10px;
}




.notification h2{
	font-size: 16px;
	font-weight: bold;
	margin:0px;
	padding: 10px 10px 10px 0px;
}

.notification .left{
	position: absolute;
	height: 100%;
	width: 30px;
	top: 0;
	left: 0;
	padding: 0px 10px;
}

.notification .right{
	margin-left: 55px;
}

.notification .left .icon{
	width: 35px;
	padding-top: 10px;
}

.notification p{
	margin :0px;
	padding: 0px;
	padding-bottom: 10px;
}

.success
{
	background-color: #DEF0A5;
	/*background-color: #20EB78;*/
	/*background-color: #DEF0A5;*/
}

.error
{
	background-color: #FFD4CC;
	/*background-color: #FF5123;*/
	/*background-color: #C33B23;*/
	color:#DD381D;
}


/*----------------------------------*/
/*  CHARACTER MAKER                 */
/*----------------------------------*/
.character-maker-image-ch
{	
	top: 0;	
	height: 100px;
	width: 90px;
	left:0;		
}

.fixed
{
	position:fixed;
	width:initial;
}

.saveButton
{
	position: absolute;
	top: 20px;
	right: 25px;
	/* padding-top: 12px; */
	/*border-radius: 7px;*/
	/* padding-right: 12px; */
	/* padding-bottom: 12px; */
	/* padding-left: 12px; */
	padding: 9px 10px;
	cursor: pointer;
	/*background-color: #29A9E6;*/
	background-color: #7EB530;
	color: white;

	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 2px;

	/*height:36px;*/
}

.closeButton
{
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px;
}




.startButton
{
	position: relative;
	/* border-radius: 7px; */
	padding: 10px 15px;
	cursor: pointer;
	background-color: #7EB530;
	color: white;
	width: 100px;
	text-align: center;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 2px;
	height: 36px;
	margin: -8px;

}

.greenButton
{
	background: #7EB530;
	color: white;
	font-family: OS;
	padding: 10px;
	border: 0px;
	margin-top: 15px;
	/*border-radius: 7px;*/
	cursor: pointer;

	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 2px;
	height:36px;

}
.splash .greenButton, .pair .greenButton, .impair .greenButton, .splash_mbp .greenButton
{

	height:initial;

}

.splash hr, .splash_mdp hr
{

	left: 0px;
	width: 100%;

}	

.startButton:hover, .saveButton:hover, .greenButton:hover
{

	background-color: #94C500;

}	





.backButton
{


	position: relative;		
	/*border-radius: 7px;*/
	padding: 10px 15px;
	cursor: pointer;
	background-color: #D6D9DC;
	color: #fff;
	width:100px;
	text-align: center;

	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 2px;
	height:36px;
	margin-right: 10px;
}

.hint
{
	font-size: 9pt;
	font-weight: bold;
	color:gray;
}

.smallBlack{
	font-size: 9pt;
	font-weight: bold;
	color:black;
}

.backButton
{		
	cursor: pointer;
}


.saveButtonInactive, .saveButtonInactive:hover
{
	background-color:rgba(0,0,0,0.1);
	/*opacity: 0.1;*/

}

.object-lock
{	
	position: absolute;
	bottom: 5px;
	left: 5px;
	height: 30px;
	width: 30px;
	left: 3px;
	/* cursor: pointer; */
	/* opacity: 0.4; */
	text-align: center;
	/* margin: 20px; */

}
.object-image
{	
	position: absolute;

	top: 0;	
	height: 90px;
	width: 90px;
	left:0;
	/*cursor: pointer;*/
	/*opacity: 0.4;*/

}

.object-gray
{	
	position: absolute;

	top: 0;	
	height: 90px;
	width: 90px;
	left:0;
	/*cursor: pointer;*/
	background-color: #575757;
	opacity: 0.4;
}

.object-price
{
	position: absolute;
	top: 70px;
	/*left: 32px;CSSPERSO*/
	right:30px;
	font-family: OS, sans-serif;
	/*font-size: 12px;CSSPERSO*/
	font-size: 16px;
	/*color: white;CSSPERSO*/
	color: gray;
}

.object-loader
{		
	position: absolute;
	top: 37px;
	left:37px;
}

.object-frame
{
	position:relative;

	/*border: solid 1px #ccc;*/
	cursor: pointer;

	padding-right:20px;
	height: 90px;
	width: 70px;

	display: inline-block;
}
.object-selector
{
	/*border: solid 1px #29A9E6;*/
	border: solid 1px #29A9E6;

	box-shadow: 1px 1px 10px #29A9E6;
	box-shadow: 1px 1px 7px #29A9E6;
}



.menubar {
	/*display: inline-block;*/
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 4px;

	line-height: 3em;
	cursor:pointer;
}

.menubarSelected {
	background-color:#29A9E6;
	color: white;   
}

.menuMaker{
	/*text-align: center;*/
	/*width:70%;*/
	width:calc(100% - 80px);
	/*white-space: nowrap;*/
}

.menuMakerComplete{
	/*text-align: center;*/
	/*width:70%;*/
	width:100%;
	/*white-space: nowrap;*/
}


.makerBlocks
{
	margin-top:10px;
	padding: 5px 10px 5px 10px;
	margin-right: 5px;
	margin-left: 5px;
	
	border: 1px lightgray solid;
	/*border-radius: 6px;*/
	font-size: 9pt;	
	color: gray;
	cursor: pointer;
}

.makerBlocksSelected
{
	color: white;
	font-weight: bold;
	border: 1px solid #29A9E6;
	background: #29A9E6;
}


#characterNameInput{
	width: calc(100% - 25px);
	height: 35px;
	border: 1px solid orange;
	font-size: 26pt;
	/*text-align: center;*/
	/*margin-top: 10px;*/
	/*margin-bottom: 10px;*/
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 300;
	font-size: 18px;

	/*font-family: 'Luckiest Guy', cursive;
	font-size: 20px;*/
	padding-left: 10px;
}

.footer{
	line-height: 7em;
	position:relative;
	height:100px;
}

.footerMenu
{
	text-align: center;
	width:100%;
}
.footerText{
	position: relative;
	cursor:pointer;
	font-size: 9pt;
	color: gray;
	line-height:4em;
}
.footerText:hover{
	color:#29A9E6;

}

.logoFrame
{
	position:absolute;
}

.table{
	display: table;
	width:100%;
	border-collapse:collapse;
}
.table-row{
	display: table-row;
}
.table-cell, .table-head{
	display: table-cell;

}
.table-head{
	font-weight:bold;
}

.lleft
{
	text-align:right;
}


.rright
{
	text-align:right;
}

.mainBlock
{
	position: relative;
}

.piano
{
	position: relative;
	width:100%;
	height:200px;
	margin:auto;

	margin-top:10px;
	border-top: 1px solid #eee;

	max-width: 600px;
	min-width: 600px;
	
}

.note1
{
	width:12%;
	position: absolute;
	height:200px;
	background: blue;
	top:0px;
	left:0px;
}

/*----------------------------------*/
/*  CONTACTS                        */
/*----------------------------------*/

.center
{
	text-align: center;
	/*margin-top: 20px;*/
	/*display:inline;*/
	/*margin-right:15px;*/
}

.txtarea
{
	width:100%;
}

ul {
	height   : 9em; 
	width    : 100%;
	max-width: 400px;
	position : relative;
	margin   : auto;
	padding  : 0px;   
}

li { margin:0; padding:0; list-style:none; position:relative; float:left;cursor:pointer; }

ul .white {
	text-align: center;
	height:9em; 
	width:13.28%; 

	z-index:1;
	border-top:1px solid #bbb;
	border-left:1px solid #bbb;
	border-bottom:1px solid #bbb;
	/*border-radius:0 0 5px 5px;*/
	/*box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);*/
	/*background: linear-gradient(top, #F5F5F5 0%,#fff 100%);*/
}

ul .white:active {
	/*border-top:1px solid #777;*/
	/*border-left:1px solid #999;*/
	/*border-bottom:1px solid #999;*/
	/*box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);*/
	/*background: linear-gradient(top, #fff 0%,#e9e9e9 100%);*/
}

.black {
	text-align: center;
	height:4.5em; 
	width:2em; 
	margin:0 0 0 -1em; z-index:2;
	border:1px solid #3f3f3f;
	/*border-radius:0 0 3px 3px;*/
	/*box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);*/
	/*background:linear-gradient(45deg, #666 0%,#222 100%);*/
	background:#3f3f3f;
}

.black:active {
	/*box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);*/
	/*background:linear-gradient(left, #444 0%,#222 100%);*/
}

.a1,.g,.d,.e,.b { margin:0 0 0 -1em;  }

/*ul li:first-child { border-radius:5px 0 5px 5px; }*/
/*ul li:last-child { border-radius:0 5px 5px 5px; }*/
ul li:last-child {    border-right: 1px solid #bbb; }

.inset-text {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	top: 120px;
	/*left: 0.3em;*/
	position: relative;
	line-height: 1em;
	color: rgba(220,220,220, 0.8);
	/*text-shadow: 1px 4px 6px #fff, 0 0 0 #000, 1px 4px 6px #fff;*/
}

.black > .inset-text
{
	top: 44px;
	/*left: 0.3em;*/
	position: relative;
	color: rgba(0,0,0,0.6);
	/*text-shadow: 2px 2px 3px rgba(255,255,255,0.1);*/
}
.black:active > .inset-text
{
	/*top: 47px;*/
	/*left: 0.3em;*/
	
}

/* Don't show shadows when selecting text */
/*::-moz-selection { background: #5af; color: #fff; text-shadow: none; }*/
/*::selection { background: #5af; color: #fff; text-shadow: none; }*/

.globalSignupZone
{

	background-color: white;
	width: 300px;
	/*border-radius: 15px;*/
	text-align: center;
	padding: 10px 0px 20px 0px;
	/* margin: auto; */
	position: absolute;
	right: 5%;
	/*top: 100px;*/
	/*vertical-align: middle*/

}
.loginZone, .forgotPassZone, .reinitPassZone
{
	display:none;
}

.loginContainer
{
	position: relative;
	background-color: initial;
	height: 10px;
	width: 268px;
}

#my-signin2 > :first-child { 
	margin:auto;
}

.loginFields
{
	background-color       : #f0f0f0;
	border                 : 0px;
	-webkit-box-shadow     : none;
	box-shadow             : none;
	position               : relative;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*border-radius          : 3px;*/
	font-weight            : bold;
	padding                : 10px;
	-webkit-box-sizing     : border-box;
	box-sizing             : border-box;
	width                  : 265px;
	color                  : #333;
	font-size              : 14px;
	outline                : none;
}

.loginButton
{
	width      :265px;
	margin-top : 0px;
	font-weight: normal;
	/*font-weight: bold;*/
	font-size  : 14px;
	/*border-radius: 3px;*/
	margin: auto;
	/*width: 245px;*/
}

#snap
{
	position    : relative;
	text-align: center;
}
.headSnap
{
	font-family : OS, sans-serif;
	/*font-size   : 2.5em;*/
	font-size   : 36px;
	font-weight : 300;
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 100;
	color       : white;
	position    : relative;
	/*top         : 100px;*/
	/*margin-right: calc(10% + 270px);*/
	margin-left : 5%;
	margin-right : 5%;
	/*font-weight:bold;*/
}

.subSnap
{
	font-family : OS, sans-serif;
	/*font-size   : 1.3em;*/
	font-size   : 24px;
	color       : white;
	position    : relative;
	/*top         : 100px;*/
	/*margin-right: calc(10% + 270px);*/
	margin-left : 5%;
	margin-right : 5%;
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 100;
}

.pair
{
	color:black;
}

.impair
{
	color:white;
	/*background-color: #4A4A4A;*/
	/*background-color: #fff;*/


}


section.impair
{
	color:white;
	/*background-color: #4A4A4A;*/
	/*background-color: #fff;*/
	background: -moz-linear-gradient(top,  rgba(30,30,30,0.8) 0%, rgba(30,30,30,0.99) 100%), url(../images/headerrA-opt.jpg) center; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,30,30,0.8) 0%,rgba(30,30,30,0.99) 100%), url(../images/headerrA-opt.jpg) center; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(30,30,30,0.8) 0%,rgba(30,30,30,0.99) 100%), url(../images/headerrA-opt.jpg) center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b34A4A4A', endColorstr='#b30d63af',GradientType=0 ); /* IE6-9 */

	background-size: cover;

}


/*section.impair:last-of-type*/
section.impair2
{
	color:white;
	/*background-color: #4A4A4A;*/
	/*background-color: #fff;*/
	background: -moz-linear-gradient(top,  rgba(30,30,30,0.8) 0%, rgba(30,30,30,0.99) 100%), url(../images/headerrB-opt.jpg) center; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,30,30,0.8) 0%,rgba(30,30,30,0.99) 100%), url(../images/headerrB-opt.jpg) center; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(30,30,30,0.8) 0%,rgba(30,30,30,0.99) 100%), url(../images/headerrB-opt.jpg) center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b34A4A4A', endColorstr='#b30d63af',GradientType=0 ); /* IE6-9 */

	background-size: cover;

}

.splashSnap
{
	/*font-family : OS, sans-serif;*/
	font-size   : 22px;
	position    : relative;
	text-align: center;
	font-weight:bold;
	padding-top: 25px;
	color:#4A4A4A;
	text-transform:uppercase;
}


{

	color:white;
}

.impair2 .splashBlock, .impair2 .splashBlock div, .splashSnap.impair2, .splashSnap.impair, .impair .splashBlock, .impair .splashBlock div, .section--primary--mockup h3
{

	color:white!important;
}




.down-arrow
{
	width: 15px;
	height: auto;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	z-index: 1;
	margin: auto;
	display: block;
	bottom: 60px;
	position: relative;
	/* vertical-align: bottom; */

}

.playButton
{
	display:inline;
	margin-right: 15px;
	padding: 10px 0px 10px 0px;
}

.instrumentBlock
{
	text-align: center;
}


.playStopIcon
{
	top:10px;
}

.playedNoteNote
{
	bottom: 80px;
	font-size: 1.3em;
	position: absolute;
	font-weight: 300;
	width: 90px;
	text-align: left;
}

#chrono
{
	right: 90px;
	position: absolute;
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 100;
	font-size: 40px;
	top: -3px;
}

.playedNote
{
	margin-bottom: -22px;
	text-align: left;
	bottom: 45px;
	text-transform: uppercase;
	position: relative;
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 100;
	font-size: 1em;
}

.splashImages01
{
	width: 20vw;
	float: left;
	padding: 20px 50px 20px 20px;
	max-width: 175px;
}

.splashBlock
{
	/*background: yellow;*/
	width: 80%;
	position: relative;
	margin: auto;
	margin-top: 30px;
	/*text-align: center;*/
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 300;
	color:#4A4A4A;

}


.splashBlock div
{
	
	text-align: left;
	font-size: 17px;
	color:#4A4A4A;

}

.splashBlock p
{
	
	text-align: justify;
	

}

.features p
{
		text-align: left;

}

.splashBlock img
{
	
	text-align: center;

}

section .greenButton
{
	text-align: center;
	/*min-height:450px;*/
	margin-top: 40px;
	margin-bottom: 20px;
}


#unitSection .splashBlock img
{
	text-align: center;
	margin: 5px;
	padding: 10px;
	border: 1px solid #CCC;
	background: #F5F5F5;
}


.myAdvancementButton
{
	font-size: 16px;
	/*font-weight: bold;*/
	color: #fff;
	line-height: 2em;
	background-color: #29A9E6;
	/*background-color: #000;*/
	text-align: center;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	/*border-radius: 8px;*/
	/*margin: 15px 15px 1px 15px;*/
	cursor:pointer;
	display:none;
	position:absolute;
	width:50%;

	padding: 0px 0px 4px 0px;
	/*box-shadow: 0px 2px 9px rgba(0,0,0,0.1);*/
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);


}

.myAdvancementButton:active{
	background-color:rgba(255, 255, 255, 0);
}

.profile-down-arrow {
	width: 15px;
	height: auto;

	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	z-index: 1;

	position: relative;
	top: 8px;
	left: 8px;

}

.buttonEvaluation
{
	border: 0px solid;
	
	width: 100%;
	height: 60px;
	cursor: pointer;
	/*border-radius: 5px;*/
	font-family: 'Open Sans';
	font-weight: bold;
}

}

.buttonEvaluationOK
{
	background: #DEF0A5;
}

.buttonEvaluationKO
{
	background: #FFD4CC;
}

#modalFrame_Wizard .modalFloater
{
	text-align: justify;
}
#modalFrame_Wizard .modalFloater img
{
	/*text-align: justify;*/
	border: 1px solid #F5F5F5;
	margin-bottom: 10px;
}

.divimg
{
	width:100%;
	text-align: center;

}

#modalFrame_Wizard .main-block
{
	max-width: 600px;
	left: 0px;
}

.helpButton
{
	float:right;
	cursor:pointer;
	right: 20px;
	top: 20px;
	position:absolute;

}
.helpButtonProg
{
	float:right;
	cursor:pointer;
	right: 20px;
	top: 10px;
	position:absolute;

}
.helpButtonDrill
{
	/* float: right; */
	cursor: pointer;
	left: 10px;
	top: 8px;
	position: absolute;
}

.checkSubscribe
{
	width: 25px;
	padding-right: 8px;
}

@media only screen and (min-width: 750px)
{
	.modal-frame .main-block{
		width:initial;

	}
}


.menuProgLeft{
	left:0px;

}

.menuProgLane{

	background-color: white;
	height:4px;
	padding:0px;
	bottom:0px;
	border-bottom:1px solid #ddd;
}
.menuProgLaneLeft{
	left:0px;
	
}
.menuProgLaneRight{
	right:0px;

}

.menuProgRight{
	right:0px;
}

.menuProg{
	height:32px;
	display:none;
	position:relative;
}




path{
	/*stroke-linecap: square;*/
	/*stroke: white;*/
	/*stroke-width: 0.5px;*/
}

.fab
{
	border-radius: 50%;
	width: 56px;
	height: 56px;
	background: #ccc;
	/*background: #7EB530;*/
	display: inline-block;
	position: absolute;
	cursor: pointer;



	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

}

.fabContainer
{
/*	cursor: pointer;
	position: fixed;
	width: 56px;
	height: 56px;
	display: inline-block;
	 background: green; 
	margin-right: 10px;
	margin-left: 10px;
	right: 40px;
	bottom:40px;*/

	cursor: pointer;
	position: absolute;
	width: 56px;
	height: 56px;
	display: inline-block;
	/* background: green; */
	margin-right: 10px;
	margin-left: 10px;
	right: 10px;
	bottom: -74px;
	z-index: 222;
}

.fabImg
{
	width: initial;
	top: 6px;
	left: 6px;
	position: absolute;
	margin: auto;
	width: 44px;	cursor: pointer;

}
.greenButtonPlay
{
	/*background-color: #7EB530;*/
	background-color: #00e676;
}
.redButton
{
	/*background-color: #DD381D;*/
	background-color: #f44336;
}

.redButton:hover
{
	background-color: #DD381D;
}



.moreVert{
	position: absolute;
	right: 10px;
	top: 13px;
	cursor:pointer;
}

.card
{
	color:white;
	width: 100%;
	display:none;
	position: absolute;
	height: 100%;
	z-index: 10;
	/*overflow: scroll;*/

	
}
.card .title
{
	color:white !important;

}

.card .instructions
{
	font-family: 'Roboto', Helvetica, Arial;
	font-size: 16px;
	font-weight: 300;
}


.characterBlock
{
	/*background: #4A4A4A;*/
	/*background: #29A9E6;*/
	/*background: #4A4A4A;*/
	color: white;

/*
background: rgb(80,128,109); 
background: -moz-linear-gradient(-45deg,  rgba(80,128,109,1) 0%, rgba(66,71,134,1) 100%); 
background: -webkit-linear-gradient(-45deg,  rgba(80,128,109,1) 0%,rgba(66,71,134,1) 100%); 
background: linear-gradient(135deg,  rgba(80,128,109,1) 0%,rgba(66,71,134,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50806d', endColorstr='#424786',GradientType=1 ); 


background: rgb(10,65,117); 
background: -moz-linear-gradient(-45deg,  rgba(10,65,117,1) 0%, rgba(41,169,230,1) 100%); 
background: -webkit-linear-gradient(-45deg,  rgba(10,65,117,1) 0%,rgba(41,169,230,1) 100%); 
background: linear-gradient(135deg,  rgba(10,65,117,1) 0%,rgba(41,169,230,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4A4A4A', endColorstr='#29a9e6',GradientType=1 ); 
*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29a9e6+0,4A4A4A+100 */
background: rgb(41,169,230); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(41,169,230,1) 0%, rgba(10,65,117,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(41,169,230,1) 0%,rgba(10,65,117,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(41,169,230,1) 0%,rgba(10,65,117,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29a9e6', endColorstr='#4A4A4A',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


.xpProgress
{
	width: 148px;
	height: 3px;
	position: absolute;
	left: 5px;
	top: 5px;
	/*background-color: yellow;*/
}
.xpProgressBack
{
	position: absolute;
	background-color: rgba(0,0,0,0.1);
	width:100%;
	height:100%;
}
.xpProgressBar
{
	position: absolute;
	background-color: #FFD54F;
	/*width:90%;*/
	height:100%;
}

.lifeProgress
{
	width: 148px;
	height: 3px;
	position: absolute;
	left: 5px;
	top: 30px;
	/*background-color: yellow;*/
}

.lifeProgressBack
{
	position: absolute;
	background-color: rgba(0,0,0,0.1);
	/*background-color: blue;*/
	width:100%;
	height:100%;
	
}
.lifeProgressBar
{
	position: absolute;
	background-color: #E57373;
	/*width:50%;*/
	height:100%;
}

.pianoProtect
{
	background-color: rgba(0,0,255,0)	;
	cursor:pointer;
}

.white
{
	background: white;
}


#CD-pianokey{left:  9.523809524%;}
#DD-pianokey{left: 23.80952381%;}
#FD-pianokey{left: 52.38095238%;}
#GD-pianokey{left: 66.66666667%;}
#AD-pianokey{left: 80.95238095%;}



.whiteNote{
	/* background: blue; */
	height: 100%;
	width: 14.28571428571429%;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	position: absolute;
	text-align: center;
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 100;
	color: #fff;
}

.blackNote{
	/* background: blue; */
	height: 50%;
	width: 9.523809524%;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	position: absolute;
	cursor:pointer;

	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
	
	
}



.blackNoteStyle{
	
	background:linear-gradient(45deg, #222 0%,#444 100%);
}
.blackNoteStyleRed{
	
	background:linear-gradient(45deg, #ED3431 0%,#EF5350 100%);
}
.blackNoteStyleGreen{
	
	/*background:linear-gradient(45deg, #37AD3B 0%,#4CAF50 100%);*/
	background:linear-gradient(45deg, #8AC149 0%,#8AC149 100%);
}

.whiteNoteLabel{
	/* background: blue; */
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 100;
	color: #fff;
	width: 100%;
	position: absolute;
	bottom: 0px;
}				

.fadeOut {
	-webkit-animation: fadeOut 5s; /* Safari 4+ */
	-moz-animation:    fadeOut 5s; /* Fx 5+ */
	-o-animation:      fadeOut 5s; /* Opera 12+ */
	animation:         fadeOut 5s; /* IE 10+, Fx 29+ */
}

.pianoContainer{
	width:100%;

}

.playBar
{
	background: #29A9E6;
	color: white;
	height: 17px;
}

.notifNumber
{
	color: #fff;
	top: -26px;
	left: 4px;
	position: absolute;
	font-size: 11px;
	font-weight: 100;
}

.circleNotifNumber
{
	border-radius: 50%;
	width: 15px;
	height: 15px;
	border: 2px solid #29A9E6;
	background: #B71C1C;
	/*display: inline-block;*/
	position: absolute;
	z-index: 10;
	top: 4px;
	left: 33px;

}


.sign-name img
{
	width:10px;
}

#startCard
{
	min-width:320px;
}

.bcCard
{
	border-bottom: 1px #ddd solid;
	padding: 15px;
	height: 30px;
	position: relative;
}

.startCardContent
{
	font-family: 'Roboto', Helvetica, Arial;
	font-weight: 500;
	font-size: 13px;
	text-align: left;
	position: absolute;
	left: 55px;
	height: 30px;
}

.bcCard img
{
	position: absolute;
	left: 13px;
	width: 30px;
}

.startCardSubContent
{
	font-size: 11px;
	/*color: #6E6E6D;*/
	color: #FE5722;
}

.thumb
{
	/*margin: auto;*/
	left:50px;
	display: block;
	vertical-align: middle;
	top: 20%;
	width: 30px;
	position: relative;
}





input[type=range] {
	top: -10px;
	position: relative;
	margin: auto;
	outline: none;
	padding: 0;
	width: calc(100% - 105px);
	/*width: 50%;*/
	height: 6px;
	background-color: #eee;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #29A9E6), color-stop(100%, #29A9E6));
	background-image: -webkit-linear-gradient(#29A9E6, #29A9E6);
	background-image: -moz-linear-gradient(#29A9E6, #29A9E6);
	background-image: -o-linear-gradient(#29A9E6, #29A9E6);
	background-image: linear-gradient(#29A9E6, #29A9E6);
	background-size: 50% 100%;
	background-repeat: no-repeat;
	border-radius: 10px;
	cursor: pointer;
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
	box-shadow: none;
	border: none;
	background: transparent;
	-webkit-appearance: none;
}

input[type=range]::-moz-range-track {
	box-shadow: none;
	border: none;
	background: transparent;
}

input[type=range]::-moz-focus-outer {
	border: 0;
}

input[type=range]::-webkit-slider-thumb {
	width: 14px;
	height: 14px;
	border: 0;
	background: #29A9E6;
	border-radius: 100%;
	box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
	-webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
	width: 14px;
	height: 14px;
	border: 0;
	background: #29A9E6;
	border-radius: 100%;
	box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}

select.selectInstrument{
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	/*-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);*/
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background: white;
	background-image: url('../images/arrowSelect.svg');
	/*background-image: url(http://i62.tinypic.com/15xvbd5.png);*/
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 0px solid #AAA;
	color: #555;
	font-size: inherit;
	/*margin: 20px;*/
	overflow: hidden;
	padding: 5px 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 30px;
}

.drillTitle
{

	font-family: 'Roboto';
	font-weight: 300;
	text-transform: uppercase;
}

.drillInstruction
{
	font-family: 'Roboto';
}


.resultImg
{
	/*position: absolute;*/
	/*left: 8px !important;*/
	width: 32px !important;
	/* display: block; */
	top: 15px !important;
}

.premium
{
	top: 55px;
	/*z-index: 100;*/
	font-size: 9px;
	left: 1px;
}

section strong{
	font-weight: 500;
}











































































